    #about {
        padding: 2em 0 0 0;
    }
    .quantity-control {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

.quantity-control .btn {
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

    .quantity-control .btn:hover {
        background-color: #6462624d;
    }

    .quantity-control .quantity {
        font-size: 16px;
        padding: 0 10px;
    }