################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/obj/project.nuget.cache
/obj/Debug/net6.0/booking.assets.cache
