
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Layout/_header.cshtml";
}

<main id="main" style="margin-top: 5em;">

    <!-- ======= About Section ======= -->
    <section id="about" class="about why-us">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Table Status</h2>
            </div>
            <div class="status-container">
                <div class="free-count">Free Tables: <span id="free-count">0</span></div>
                <div class="ordered-count">Ordered Tables: <span id="ordered-count">0</span></div>
            </div>
            <div class="row text-center mt-5">
                <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100">
                    <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                        <a asp-controller="Staff" asp-action="Details" asp-route-id="1">
                            <span>Table 01</span>
                            <p class="status">Ordered</p>
                        </a>
                    </div>
                    <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                </div>
                <div class="col-1"></div>
                <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100">
                    <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="#">
                            <span>Table 02</span>
                            <p class="status">Ordered</p>
                        </a>
                    </div>
                    <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                </div>
                <div class="col-1"></div>
                <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100">
                    <span class="chair top-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                    <span class="chair" style="visibility:hidden"><i class="bi bi-person-fill"></i></span>
                    <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="#">
                            <span>Table 03</span>
                            <p class="status">Free</p>
                        </a>
                    </div>
                    <span class="chair bottom-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                </div>
                <div class="col-1"></div>
                <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100">
                    <span class="chair top-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                    <span class="chair" style="visibility:hidden"><i class="bi bi-person-fill"></i></span>
                    <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="#">
                            <span>Table 04</span>
                            <p class="status">Free</p>
                        </a>
                    </div>
                    <span class="chair bottom-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                </div>
                <div class="col-1"></div>
            </div>

            <div class="row text-center mt-5">
                <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100">
                    <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="#">
                            <span>Table 05</span>
                            <p class="status">Ordered</p>
                        </a>
                    </div>
                    <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                </div>
                <div class="col-1"></div>
                <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100">
                    <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <span class="chair top-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="#">
                            <span>Table 06</span>
                            <p class="status">Ordered</p>
                        </a>
                    </div>
                    <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                    <span class="chair bottom-chair-2vs2"><i class="bi bi-person-fill"></i></span>
                </div>
                <div class="col-1"></div>
                <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100">
                    <span class="chair top-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                    <span class="chair" style="visibility:hidden"><i class="bi bi-person-fill"></i></span>
                    <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="#">
                            <span>Table 07</span>
                            <p class="status">Free</p>
                        </a>
                    </div>
                    <span class="chair bottom-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                </div>
                <div class="col-1"></div>
                <div class="col-2 box" data-aos="zoom-in" data-aos-delay="100">
                    <span class="chair top-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                    <span class="chair" style="visibility:hidden"><i class="bi bi-person-fill"></i></span>
                    <div class="col-12 box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="#">
                            <span>Table 08</span>
                            <p class="status">Free</p>
                        </a>
                    </div>
                    <span class="chair bottom-chair-1vs1"><i class="bi bi-person-fill"></i></span>
                </div>
                <div class="col-1"></div>
            </div>


        </div>
    </section><!-- End About Section -->
</main><!-- End #main -->
<script src="~/js/status_count.js"></script>